*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #fff;
  height: 100vh;
  line-height: 1.6;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  /* CSS Smooth Scroll */
  overflow-y: scroll; 
  scroll-behavior: smooth;
}

.lead {
  width:40% ;
  margin-left: 5%;
  margin-right: auto;
  font-size: 1rem;
}


.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #00BAF0;
    background: linear-gradient(to left, #f46b45, #eea849);
    font-size: 20px;;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    height: 30px;
    padding: 1em;
  }
  
  .menu {
    margin-left:auto;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  .menu > li a {
    text-decoration: none;
    color: white;
}
    .menu > li a:hover {
        color: #000;
    }
  @media (max-width: 768px) {
    .menu-button-container {
      display: flex;
    }
    .top-nav
    {
        justify-content: space-between;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 70px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
    .menu > li a:hover {
        color: #f46b45;
    }
  }

section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100vh;
 
}

section h1 {
  margin-top:5px;
  margin-left: 5%;
  margin-right: auto;
  font-size: 4rem;
}

/* Additional styles for the typing animation */
#typing-animation::after {
  content: "|";
  animation: typing 0.7s steps(10, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #333;
  }
}


/* Additional styles for the typing animation */
#caret.show-caret {
  transition: all 80ms ease-out;
}

#caret.hide-caret {
  font-size: 0;
  margin-right: 0;
}

section h2, h3 {
  margin-left: 5%;
  margin-right: auto;
}

.intro {
  margin-top: 5%;
}

.about {
  font-size: 25px;
  margin-top: 125px;
}

/* Section Images */
section#home {
  background-color: #222;
  background: url('https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=820&q=80') no-repeat center center/cover;
}




section#portfolio {
    background: url('portfolio-bg.jpg') no-repeat center center/cover;
}

section#contact {
  background: url('https://source.unsplash.com/2aAHlfDOhJM/1600x900') no-repeat center center/cover;
}

.input-field
{
    font-size: 16px;
    border-radius: 10px;
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
}
.error_message
{
    color: red;
    font-size: 14px;
}
.form{
  justify-content: center;
  align-items: center;
  display: block; /* Use block display to center the form */
  margin: 5%;
  padding: 10px 20px;
  color: black;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

#contact-form {
  text-align: center;
}


#contact-form p.lead1 {
  font-family: Arial, Helvetica, sans-serif;;
  font-weight: bold;
  color:#f46b45;
  font-size: 2rem; 
  margin-top: 10%; 
}

#contact-form input[type="submit"] {
    padding: 10px 20px;
    background-color:#f46b45;    
    color: black;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  #contact-form input[type="submit"]:hover {
    color:white;
  }
  @media screen and (max-width: 768px) {
    section#contact-form{
      height: 80vh;
    }
  }
  @media screen and (max-width: 980px) {
    section{
      height: 70vh;
    }

    section h2{
      margin-top: 10%;
      font-size: 18px;
    }

    section h1{
      font-size: 30px;
    }
   .lead{
      font-size: 14px !important;
      width:80%;
    }
    section h3{
      top:none !important;
    }
  }


/* Media query for screen sizes up to 768px (mobile devices) */
@media screen and (max-width: 768px) {
  .container {
    overflow-y: auto;
  }
  
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #222;
    z-index: 1;
  }
  
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #444;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}